html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	z-index: 1;
	background-position: center;
	background-attachment: fixed;
	background-color: #1e1e1e;
	background: url("bg.jpg");
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

#wrapper {
	height: 100%;
	display: grid;
}

#itemlist {
	display: inline-grid;
	grid-template-columns: repeat(2, 1fr);
	margin: auto;
}

@media only screen and (min-width: 600px) {
	#itemlist {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media only screen and (min-width: 800px) {
	#itemlist {
		grid-template-columns: repeat(6, 1fr);
	}
}

#itemlist {
	border-radius: 13px;
	background-color: rgba(0, 0, 0, .7);
	font-size: 4em;
	z-index: 1;
}
#itemlist>* {
	padding: 15px;
	margin: 0 auto;
}

/* particle canvas style */
#particles-js {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
}

/* link colors */
#itemlist a {
	color: #fff;
}
#itemlist a:hover {
	color: #c4c4c4;
}
